<div class="background_header">

  <div class="container">
      <h1 class="title_text">créez une app mobile</h1>

      <h2 class="subtitle_text">Générateur d’Applications Natives et de Progressive Web Apps<br>pour le eCommerce et pour la gestion de Contenu</h2>
  </div>
  <div class="container container-btn">
      <a href='/client/projet' class="create_app">
      Créer une app
      </a>
      <p class="try_text">30 jours d’essai gratuit - Accès direct sans CB</p>
  </div>
</div>



<div class="navbarx navbar-default" id="navbarx">
  <div class="navbar-container" id="navbar-container">
      <ul class="nav navbar-right">
          <li class="navbar-position">
              <p class="link_text_product" id="productButton">PRODUITS
                  <span
                      style="display: inline-block; margin-left: -1px; color: white; fill: white; position: relative;">
                      <img src="https://back.ww-cdn.com/portal_static/svg/base/arrow-down.37f10dc9ca89.svg" loading="lazy" alt="Information"
                          style="width: 16px;" />
                  </span>
              </p>
              <div class="dropdown-content" id="dropdown-content">
                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9zaG9wLw==" class="obl dropdown-text">
                  Shopping app<br>
                  <small
                      style="font-style: italic; font-size: 14px; color: #999">Créez votre boutique en ligne</small>
                  </span>
                  <div
                      style="border-bottom: 1px solid rgb(219, 219, 219); margin-left: 10px; margin-right: 17px;">
                  </div>
                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jbGFzc2ljLw==" class="obl dropdown-text">
                  Classic app<br>
                  <small
                      style="font-style: italic; font-size: 14px; color:#999">Créez votre app de contenu</small>
                  </span>
              </div>

          </li>
          <li class="navbar-position">
              <a href="reseller/index.html" class="link_text">
              RESELLER
              </a>
          </li>
          <li class="navbar-position">
              <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcmljaW5nLw==" class="obl link_text">
              TARIFS
              </span>
          </li>
          <li class="navbar-position">
              <a href="blog/index.html" class="link_text">
              BLOG
              </a>
          </li>
          <li class="navbar-position">
              <a href='/account/auth/login'   olinw007 class="link_text_login" id="login_button">
             Mes Apps

              </a>
          </li>
          <li class="navbar-position">
              <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_shop">
              Créer une shopping app
              </span>
          </li>
          <li class="navbar-position-button">
              <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button">
              Créer une app
              </span>
          </li>
          <li class="navbar-position-button">
              <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_phone">
              Créer
              </span>
          </li>
          <li class="navbar-position-button">
              <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_create_my_app">
              Créer une app
              </span>
          </li>
      </ul>

      <div class="burger" id="burger">
          <img src="assets/images/logo-dark.png" height=60/>
      </div>
          <span></span>

      <div>
          <a href="index.html" class="goodbarber-logo-home" style="color: transparent;" id="goodbarber-logo-home">

Goodbarber Home Page
          </a>
          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbQ==" class="obl goodbarber-logo-home-gradiant" style="color: transparent;" id="goodbarber-logo-home-gradiant">
          <svg id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="169.000000px" height="50.500000px" viewBox="0 0 319.50000 49.000000" xml:space="preserve">


</svg>
Goodbarber Home Page
          </span>
      </div>

  </div>
</div>
