/* =============
   General
============= */

html {
    position: relative;
    min-height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

label {
    font-weight: 600;
}

// blockquote

.blockquote {
    padding: 10px 20px;
    border-left: 4px solid gray;
}

.blockquote-reverse {
    border-left: 0;
    border-right: 4px solid gray;
    text-align: right;
}