body{
    font-family: Lato,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.svg-add{
    width: 4%;
}

.create-project-btn {
  position: relative!important;
  font-size: 14px!important;
  text-transform: uppercase!important;
  border-radius: 30px!important;
  border: none!important;
  padding: 13px 26px 11px!important;
  letter-spacing: 1px!important;
  margin-bottom: 20px!important;
  background-color: #009ed9!important;
}

.create-project-btn:hover{
  background-color: #23527c!important;
}

#container-themes-collection .title-section,
#bloc-title-modular-design .title-section,
#section-template-collection .title-section,
#bloc-title-navigation-system .title-section,
#bloc-title-google-fonts .title-section,
#bloc-title-google-fonts .title-section,
#section-icons-collection .title-section
{
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

#container-themes-collection .subtitle-section,
#bloc-title-modular-design .subtitle-section,
#bloc-title-navigation-system .subtitle-section,
#bloc-title-navigation-system .subtitle-section,
#section-template-collection .subtitle-section,
#bloc-title-google-fonts .subtitle-section,
#section-icons-collection .subtitle-section,
#section-photos-collection .subtitle-section
{
    font-weight: 300;
    font-size: 28px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 36px;
}

.btn-link{
    color: #009ed9!important;
}

.btn-link:hover{
    color: #007ba8!important;
    text-decoration: none;
}

#video-iframe-workspace{
    width: 100%;
    height: 750px;
}


/* Header Design */
#header-page-design{
    background: linear-gradient(45deg, #002d58, #0093a2);
    height: 420px;
    padding-top: 65px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container-button-action-design{
    margin-top: 4%;
    margin-bottom: 1%;
}

.text-center.backgroud-footer-design{
    background-color: #1b1b1b;
}

#banner-header-title-design h1{
    font-size: 120px;
    font-weight: 300;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: Nunito,Arial,sans-serif;
}

#container-button-action-design .btn-action-design-create-project{
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    padding: 13px 26px 11px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #009ed9;
    outline: none;
    text-decoration: none;
}

#container-button-action-design .btn-action-design-create-project:hover{
    background-color: #23527c;
}

/* End Header Design */

/* Section themes collection */
#section-themes-collection{
    text-align: center;
    padding: 80px 80px;
    background: #f7f7f7;
    overflow: hidden;
    color: #000;
    display: block;
}

#container-themes-collection, #container-modular-design, #container-navigation-system{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}



#container-themes-collection img{
    margin-top: 30px;
    width: 80%;
}

/* End section themes collection */

/* Section modular design */
#section-modular-design{
    text-align: center;
    padding: 80px 80px;
    background: #fff;
    overflow: hidden;
    color: #000;
    display: block;
}

#section-statistics{
    text-align: center;
    padding: 80px 80px;
    background: #f7f7f7;
    overflow: hidden;
    color: #000;
    display: block;
}

#container-modular-design{
    position: relative;
    width: 1380px;
}

#bloc-title-modular-design{
    position: absolute;
    z-index: 1;
    width: 300px;
    right: 0;
    text-align: initial;
}

#container-modular-design img{
    float: left;
    margin-left: -210px;
    margin-top: 37.5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
    width: 90%;
}
/* End section modular design */

/* Section navigation system */

    #section-navigation-system{
        text-align: center;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 80px;
        background: #f7f7f7;
        overflow: hidden;
        color: #000;
        display: block;
    }

    #bloc-title-navigation-system{
        position: absolute;
        z-index: 1;
        margin-left: 145px;
        margin-top: 80px;
        text-align: initial;
        width: 380px;
    }

    #section-navigation-system img{
        margin-top: -100px;
        width: 1250px;
        margin-right: 0;
        float: right;
        height: 100%;
        max-width: 100%;
    }

    #bloc-title-navigation-system a{
        text-decoration: none;
        /* display: block; */
        font-weight: 500;
        font-size: 15px;
        padding: 5px;
        color: #009ed9;
    }

    #section-navigation-system  #icon-navigation-system{
        width: 16px;
        float: none;
        margin-top: 0px;
        margin-right: 0px;
        max-width: inherit;
        height: inherit;
    }

    #bloc-title-navigation-system a:hover{
        color: #23527c;
    }

    #bloc-title-navigation-system a span{
        font-weight: 500;
        font-size: 15px;
        padding: 5px;
        color:#009ed9;
    }
/* End section navigation system  */

/* Section template collection */

    #section-template-collection{
        text-align: center;
        padding: 80px 80px;
        padding-left: 0px;
        padding-right: 0px;
        background: #fff;
        overflow: hidden;
        color: #000;
        display: block;
    }

    #section-template-collection a{
        text-decoration: none;
        display: block;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 40px;
        padding: 5px;
        color: #009ed9;
    }

    #section-template-collection img{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        -webkit-box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
    }

    #section-template-collection #icon-template-collection{
        width: 16px;
    }

    #section-template-collection a:hover{
        color: #23527c;
    }



/* End section template collection */

/* Section google fonts */

    #section-google-fonts{
        text-align: center;
        padding: 80px 80px;
        background: #fff;
        overflow: hidden;
        color: #000;
        display: block;
    }

    #bloc-title-google-fonts{
        width: 380px;
        margin-left: 145px;
        text-align: initial;
        position: absolute;
        z-index: 1;
    }

    #btn-intuitif-none{
        display: none;
    }

    #btn-intuitif-block{
        display: initial;
    }

    #section-google-fonts img{
        float: right;
        margin-right: -40px;
        margin-top: 37.5px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
        width: 70%;
        display: block;
        position: relative;
    }

    #section-google-fonts picture #icon-google-fonts{
        width: 16px;
        float: none;
        margin-top: 0px;
        margin-right: 0px;
        max-width: inherit;
        height: inherit;
        display: inherit;
    }

/* End section google fonts */

/* Section icons collection */
    #section-icons-collection{
        text-align: center;
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
        background: #f7f7f7;
    }

    #section-icons-collection img{
        width: 100%;
    }

    #section-icons-collection .subtitle-section{
        margin-bottom: 80px;
    }
/* End section icons collection */

/* Section photos collection */
    #section-photos-collection{
        text-align: center;
        padding: 80px 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        background: #fff;
        overflow: hidden;
        color: #000;
        display: block;
    }

    #section-photos-collection .title-section
    {
        font-size: 46px;
        font-weight: 500;
        margin-top: 80px;
        margin-bottom: 25px;
    }

    #section-photos-collection .subtitle-section{
        margin-bottom: 80px;
    }

    #container-photos-collection-example{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }

    #container-photos-collection-example picture, #container-photos-collection-example picture img{
        width: 100%;
    }

    #container-photos-collection-example .images-collection-example{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
    }

/* End section photos collection */

@media (max-width : 1720px){
    #section-navigation-system img{
        width: 920px;
    }
    #section-google-fonts img{
        width: 920px;
    }
}


@media (max-width: 1450px){
    #btn-intuitif-none{
        display: initial;
    }
    #btn-intuitif-block{
        display: none;
    }
    #img-intuitif{
        margin-bottom: 40px;
    }

    #banner-header-title-design h1{
        font-size: 74px;
    }
    #container-modular-design img{
        display: block!important;
        float: inherit!important;
        margin-left: auto!important;
        margin-right: auto!important;
        width: 100%!important;
        text-align: center!important;
    }
    .title-section{
        font-size: 36px!important;
    }
    .subtitle-section{
        font-size: 20px!important;
        margin-bottom: 10px!important;
        line-height: inherit!important;
    }
    #container-modular-design{
        width: inherit;
    }
    #bloc-title-modular-design{
        position: inherit!important;
        width: 100%!important;
        display: block!important;
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center!important;
        right: inherit!important;
    }
    #section-navigation-system img{
        width: 650px;
    }
    #bloc-title-navigation-system{
        width: 300px;
        margin-left: 0px;
    }
    #bloc-title-google-fonts{
        position: inherit;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #section-google-fonts img{
        width: 95%;
        float: inherit;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: inherit;
        margin-top: 30px;
    }
    #section-photos-collection .subtitle-section {
        margin-bottom: 80px!important;
    }
    #section-icons-collection .subtitle-section {
        margin-bottom: 80px!important;
    }
    #container-photos-collection-example{
        grid-template-columns: 1fr 1fr;
    }
    #video-iframe-workspace{
        width: 100%;
        height: 550px;
    }
}

@media (max-width : 1000px){
    #section-navigation-system img {
        width: 585px;
        margin-right: -28%
    }
}

@media (max-width : 768px){
    #section-navigation-system img{
        margin-top: 0px;
        margin-right: -200px;
    }
    #section-template-collection img {
        width: 95%;
    }
    #video-iframe-workspace{
        width: 100%;
        height: 350px;
    }
}

@media (max-width : 760px){
    #banner-header-title-design h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    #section-themes-collection, #section-modular-design, #section-statistics, #section-google-fonts {
        padding: 0px;
        padding-top: 80px!important;
        padding-bottom: 80px!important;
    }
    #section-navigation-system{
        padding-top: 0px;
        padding-bottom: 80px;
        padding-left: 0px;
    }
    #section-navigation-system img{
        margin-top: 0px;
        margin-right: -200px;
    }
    #bloc-title-navigation-system{
        /* position: inherit;
        text-align: center; */
        margin-top: 0px;
        z-index: inherit;
        margin-bottom: 80px;
        margin-left: 0px;
        margin-right: auto;
        width: 175px;
    }
    #container-photos-collection-example{
        grid-template-columns: 1fr 1fr;
    }
    #video-iframe-workspace{
        width: 100%;
        height: 180px;
    }
}