<div class="main">
  <div style="z-index: 1; position: relative; background-color: #1b1b1b; padding-bottom: 20px; padding-top: 40px;">
      <div class="container" style="text-align: center;">
          
          <br>
          <br>

         
      </div>
  </div>

</div>











  <footer style="position: relative; z-index: 1;">
      <div class="nav-footer">
          <div class="container">
              <nav class="col-lg-10 col-lg-offset-1 col-centered">
                  <ul class="row justify-content-center nav navbar-center"
                      style="padding-top: 50px; padding-bottom: 50px">
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-faq">
                          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9mYXEv" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-faq.c6b4c0ce1b02.svg" loading="lazy" alt="FAQ" />
                          </div>
                          Foire aux questions
                          </span>
                      </li>
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-blog">
                          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9ibG9nLw==" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-blog.1d1a34b28672.svg" loading="lazy" alt="Blog" />
                          </div>
                          Blog
                          </span>
                      </li>
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-presse">
                          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcmVzcy8=" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-press.8f207b6550ba.svg" loading="lazy" alt="Press" />
                          </div>
                          Presse
                          </span>
                      </li>
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-contact">
                          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jb250YWN0Lw==" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-contact.4f82e918e06b.svg" loading="lazy" alt="Contact" />
                          </div>
                          Contacter
                          </span>
                      </li>
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-jobs">
                          <span data-obl="aHR0cHM6Ly9jYXJlZXJzLmdvb2RiYXJiZXIuY29tLw==" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-careers.335de8cce498.svg" loading="lazy" alt="Careers" />
                          </div>
                          Jobs
                          </span>
                      </li>
                      <li class="col-6 col-lg-4 col-xs-6 footer-border-about">
                          <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9hYm91dC8=" class="obl footer-link">
                          <div class="img-svg">
                              <img src="https://back.ww-cdn.com/portal_static/images/footer-logo-about.c883e0dd6730.svg" loading="lazy" alt="About" />
                          </div>
                          A propos
                          </span>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
      <div class="link-footer">
          <div class="container">
              <div class="col-lg-12 col-xl-10 xl-offset-1 col-md-10 col-sm-10 col-xs-10 col-centered">
                  <div class="row">
                      <nav
                          class="col-12 col-lg-3 col-lg-push-1 col-md-6 col-md-push-1 col-sm-6 col-sm-push-2 col-xs-6 col-xs-push-1">
                          <div class="footer-link-title">
                              Produits
                          </div>
                          <ul class="nav-footer-links">
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9zaG9wLw==" class="obl nav-footer-link">
                                  Shopping App
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jbGFzc2ljLw==" class="obl nav-footer-link">
                                  Classic App
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcmljaW5nLw==" class="obl nav-footer-link">
                                  Tarifs
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jaGFuZ2Vsb2cv" class="obl nav-footer-link">
                                  Changelog
                                  </span>
                              </li>
                          </ul>
                      </nav>
                      <nav
                          class="col-12 col-lg-3 col-lg-push-1 text-left col-md-6 col-md-push-1 col-sm-6 col-sm-push-2 col-xs-6 col-xs-push-1">
                          <div class="footer-link-title">
                              Technologie
                          </div>
                          <ul class="nav-footer-links">
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcm9kdWN0L2Rlc2lnbi8=" class="obl nav-footer-link">
                                  Design
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcm9kdWN0L3dvcmtzcGFjZS8=" class="obl nav-footer-link">
                                  Back Office
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9hZGQtb25zLw==" class="obl nav-footer-link">
                                  Add-ons
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS91aS1pbmRleC8=" class="obl nav-footer-link">
                                  UI Index
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9mZWF0dXJlLWluZGV4Lw==" class="obl nav-footer-link">
                                  Feature Index
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wd2EvdGVjaG5vbG9neS8=" class="obl nav-footer-link">
                                  PWA
                                  </span>
                              </li>
                          </ul>
                      </nav>
                      <nav
                          class="col-12 col-lg-3 col-lg-push-1 text-left col-md-6 col-md-push-1 col-sm-6 col-sm-push-2 col-xs-6 col-xs-push-1">
                          <div class="footer-link-title">
                              Communauté
                          </div>
                          <ul class="nav-footer-links">
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9mYXEv" class="obl nav-footer-link">
                                  FAQ
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9yZXNlbGxlci8=" class="obl nav-footer-link">
                                  Reseller
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9ibG9nLw==" class="obl nav-footer-link">
                                  Blogs
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS92aWRlb3Mv" class="obl nav-footer-link">
                                  Tutoriels
                                  </span>
                              </li>
                          </ul>
                      </nav>
                      <nav
                          class="col-12 col-lg-3 col-lg-push-1 text-left col-md-6 col-md-push-1 col-sm-6 col-sm-push-2 col-xs-6 col-xs-push-1">
                          <div class="footer-link-title">
                              Société
                          </div>
                          <ul class="nav-footer-links">
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9hYm91dC8=" class="obl nav-footer-link">
                                  A propos
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9jYXJlZXJzLmdvb2RiYXJiZXIuY29tLw==" class="obl nav-footer-link">
                                  Jobs
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcmVzcy8=" class="obl nav-footer-link">
                                  Presse
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS90ZXJtcy8=" class="obl nav-footer-link">
                                  CGS
                                  </span>
                              </li>
                              <li style="line-height: 32px; font-family: Lato, Arial, sans-serif">
                                  <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jb250YWN0Lw==" class="obl nav-footer-link">
                                  Contact
                                  </span>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
      <div class="background_footer">
          <div class="container">
              <div class="footer-btn">
                  <button type="button" class="create_app_footer">
                      Créer une app
                  </button>





              </div>
              <div class="social-media-logo">
                  <span data-obl="aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2dvb2RiYXJiZXIv" class="obl picto-facebook">
                  <div class="svg-facebook">
                      <img src="https://back.ww-cdn.com/portal_static/svg/base/fb-logo-white.d2756d48f0c2.svg" loading="lazy" alt="Facebook" />
                  </div>
                  </span>
                  <span data-obl="aHR0cHM6Ly90d2l0dGVyLmNvbS9nb29kYmFyYmVyRlIv" class="obl picto-twitter">
                  <div class="svg-twitter">
                      <img src="https://back.ww-cdn.com/portal_static/svg/base/twitter-logo-white.69293c7febc9.svg" loading="lazy" alt="Twitter" />
                  </div>
                  </span>
                  <span data-obl="aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9nb29kYmFyYmVyLw==" class="obl picto-instagram">
                  <div class="svg-instagram">
                      <img src="https://back.ww-cdn.com/portal_static/svg/base/insta-logo-white.280d146db3be.svg" loading="lazy" alt="Instagram" />
                  </div>
                  </span>
                  <span data-obl="aHR0cHM6Ly93d3cueW91dHViZS5jb20vZ29vZGJhcmJlci8=" class="obl picto-youtube">
                  <div class="svg-youtube">
                      <img src="https://back.ww-cdn.com/portal_static/svg/base/yt-logo-white.1d3071d9bcf4.svg" loading="lazy" alt="Youtube" />
                  </div>
                  </span>
              </div>
          </div>
          <div class="container clearfix" style="z-index: -3">
              <p class="gb_trademark"
                  style="text-align: left; font-size: 17px; color: rgb(131, 131, 131); font-family: Lato, Arial, sans-serif; font-weight: 300; padding-top: 40px;">
                  © 2021 GoodBarber - Made in Corsica
              </p>
          </div>
      </div>
  </footer>
